@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

html {
  font-family: 'Noto Sans SC', sans-serif;
}

body {
  background-color: #0000;
  margin: 0px auto;
  overflow: hidden;
}

#medal-card,
#chat-badges {
  display: none !important;
}

yt-live-chat-renderer {
  background: none;
}

#ticker,
#separator,
#menu,
#action-panel,
#inline-action-button-container,
#panel-pages,
#toast-container,
yt-icon-button,
yt-live-chat-toast-renderer,
yt-live-chat-docked-message,
yt-live-chat-banner-manager,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-header-renderer,
yt-live-chat-ticker-renderer {
  display: none !important;
}

yt-live-chat-paid-sticker-renderer,
yt-live-chat-text-message-renderer,
yt-live-chat-membership-item-renderer,
yt-live-chat-paid-message-renderer {
  padding: 0;
  width: 500px;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
}

yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer {
  overflow: hidden;
}